/* create container */
.project_Card {
  padding: 1em;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  width: 24%;
  margin: 0.5%;
}

.project_Card h4 {
  background-color: #222;
  color: #ffbb33;
  padding: 0.4em;
  margin-bottom: 1.3em;
  font-size: 1.3em;
}

.project_Card p {
  color: #7a7a7a;
  margin-bottom: 1em;
}

.project_Card p span {
  font-weight: bold;
}

.category_text {
  display: flex;
  align-items: center;
}

.category_text span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
}

.category_text .infra {
  background-color: #e66380bd;
}

.category_text .desenvolvimento {
  background-color: #51dad5;
}

.category_text .design {
  background-color: #72b185;
}

.category_text .planejamento {
  background-color: #fbe76e;
}

.project_card_actions {
  margin-top: 1.2em;
  display: flex;
  align-items: center;
}

.project_card_actions a,
.project_card_actions button {
  text-decoration: none;
  border: none;
  background-color: #fff;
  color: #222;
  font-size: .9em;
  padding: .4em .7em;
  margin-right: 1em;
  cursor: pointer;
  border-radius: .2em;
  border: 1px solid #222;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.project_card_actions svg {
  margin-right: .5em;
}

.project_card_actions a:hover {
  background-color: #ffbb33;
  color: #fff;
}

.project_card_actions button:hover {
  background-color: #e66380bd;
  color: #fff;
}
